body {
    background-color: black;
}
.card{
    margin-top: 2in;
    margin-left: 2in;
    margin-right: 1in;
    width: 6in;
    height: 3in;
}

.btn {
    margin-left: 20%;
    margin-bottom: 10%;
}